.footer-section{
    margin-top: 100px;
}
.social-icon img{
    width: 15px;
    
}
.logo-img{
    width: 120px;
}
.colum li{
    list-style-type: none;
    font-size: 12px;
    line-height: 23px;
}
.icons{
    margin-right: 10rem;
}