@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.navbar__bg {
  background: url('./resources/Group\ 45@2x.png');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position-x: -20%;
  background-position-y: 70%;
}

.common-btn{
    background:  linear-gradient(to right, #2AF598, #01A1FA);
    border: none;
    border-radius: 25px 0;
    color: #fff;
}

.common-btn:focus {
  outline: none;
}

.common-btn:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.header-text{
  font-size: 60px;
  font-family: 'Yeseva One', cursive;
}

li>a:hover{
  font-weight: bold;
}
.specialTexts{
  color: #0D052E;
  font-family: 'Lora', serif;
}

.card:hover{
  background: #fff;
}

.rope{
  background: url(../src/resources/bd-rope.png);
  position: relative  top top;
  
}