button{
    background:  linear-gradient(to right, #1AD5BD, #2CBAEC);
    border: none;
    border-radius: 30px 0;
    color: #fff;
    padding: 2% 5%;
   
}
button::-moz-focus-outer{
  border: none;
  /* Need to fix this part */
  
}
.header-text{
  font-size: 800%;
}
li>a:hover{
  font-weight: bold;
}
.specialTexts{
  color: #0D052E;
  font-family: 'Ubuntu', 'sans-serif' 
}
.effect:hover{
  background: #fff;
  border-radius: 70px 0px;
  box-shadow: 5px 5px 10px lightgrey;
}
.card:hover{
  background: #fff;
}